@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap rel="stylesheet"');

*{
    font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
  }
  
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
  section{
    padding: 2rem 7%;
  }
  .btn{
    display: inline-block;
    padding: 10px 50px;
    background: #604c61;
    border: 2px solid #604c61;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1.7rem;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    transition: .5s;
  animation: zoomIn 1s ease forwards;
  animation-delay: 2.2s;
  text-align: center;
  }
  .btn:hover{
    box-shadow: 0 0 30px #604c61;
    background-color: transparent;
    color: #fff;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 7%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.5s ease, background-color 0.5s ease;
  }

  .header .logo{
    font-size: 35px;
    color: #604c61;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.2s;
  }
  .header .logo{
    font-size: 35px;
    color: #604c61;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.2s;
  }

  .header .navbar a{
    display: inline-block;
    position: relative;
    margin-left: 20px;
font-size: 2rem;
color: #fff;
font-weight: 500;
opacity: 0;
animation: slideTop 0.7s ease forwards;
animation-delay: calc(.2s * var(--i));
  }
  .navbar a:hover {
    color: rgb(205, 205, 205);
  }
  .navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #604c61;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  }
  .navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
.activ{
  color: #604c61;
  transition: all 0.5s ease;
}
.activ:hover{
  color: #fff;
}
  .header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-left: 1rem;
  }
  .header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    border-radius: 50px;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s linear;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color:var(--main-color)
}
    .btnLogin-popup {
      width: 100px;
      height: 40px;
      background: #fff;
      border: 2px solid #fff;
      outline: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 2em;
      color: #182634;
    font-weight: 500;
    transition: .7s;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2.7s;
    }
    
    .btnLogin-popup:hover {
    background-color: transparent;
    color: #fff;
    }
.footer {
  background-color: #100f0f;
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  font-size: 12px;
}
.footer .container{
width: 100%;
display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr;
grid-gap: 20px;
}

.col{
  color: #fff;
}
.col h3{
  color: #604c61;
  margin-bottom: 15px;
  position: relative;
  cursor: default;
  font-weight: 600;
}
.col .social a i{
  font-size: 25px;
  color: #fff;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col .social a i:hover{
  transform: scale(1.5);
  filter: grayscale(25);
}
.col .links a{
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a::before{
  content: '';
  height: 16px;
  width: 2px;
  position: absolute;
  top: 4px;
  left: -10px;
  background-color: #604c61;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover::before{
  opacity: 1;
}
.col .links a:hover{
  transform: translateX(-8px);
}
.col .contact-details{
  font-size: 14px;
  display: inline-flex;
  justify-content: space-between;
}
.col .contact-details i{
  margin-right: 15px;
}

.copyrightText{
  width: 100%;
  background: #100f0f;
  padding: 20px 100px 30px;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0, 0, 0, .15);
}

@media (max-width:991px){
  html{
      font-size: 55%;
  }
  .header{
      padding: 1.5rem 2rem;
  }
  section{
      padding: 2rem;
    }
    .copyrightText{
      padding: 20px 40px 30px;
    }
    .footer{
      padding: 40px;
    }
    .footer .container{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
    }
  }
@media (max-width:768px){
  #menu-btn{
    display: inline-block;
  }
  .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: #100f0f;
    width: 30rem;
        height: calc(100vh - 9.5rem);
        transition: .2s linear;
  }
  .header .navbar.active{
    right: 0;
  }
  .header .navbar a{
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }
  .footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
  }
    }

    @media (max-width:768px){
        html{
            font-size: 50%;
        }
        
    }
  section {
    padding: 40px 15%;
  }
  
  .contact {
    background-color: black;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-gap: 6rem;
    text-align: center;
    justify-content: center;

  }
  .contact-form{
   margin-top: 50px;
   border-radius: 50px;
  }
  .contact-form h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  }
  span{
    color:#604c61;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  }
  
  .contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  }
  
  .contact-form form{
    position: relative;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  }
  .contact-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
  }
  
  .contact-form textarea{
    resize: none;
    height: 200px;
  }
  
  .contact-form form .btn{
    display: inline-block;
  background: #604c61;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  }
  
  .contact-form form .btn:hover{
    background: #705971;
  }
  
  @media (max-width: 1570px){
  section{
    padding: 80px 3%;
    transition: 2.s;
  }
  .contact-form h1{
    font-size: 60px;
  }
  .contact-form p{
    margin-bottom: 3rem;
  }
  }
  
  @media (max-width: 1090px){
    .contact{
      grid-gap: 2rem;
      transition: .3s;
    }
  }
  
  @media (max-width: 1000px){
    .contact{
    grid-template-columns: 1fr;
  }
  .contact-form{
    order: 2;
  }
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideTop {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }